@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap);


body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'Trajan Pro';
  font-size: 4.4rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.04rem;
}
.display-2 {
  font-family: 'Trajan Pro';
  font-size: 2.4rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 3.84rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'TrajanPro-Regular';
  font-size: 1rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.52rem;
    font-size: calc( 2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.19rem + (4.4 - 2.19) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #833030 !important;
}
.bg-success {
  background-color: #adadad !important;
}
.bg-info {
  background-color: #3f3f3f !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #eeeeee !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #833030 !important;
  border-color: #833030 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #4b1b1b !important;
  border-color: #4b1b1b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4b1b1b !important;
  border-color: #4b1b1b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #833030 !important;
  border-color: #833030 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #4b1b1b !important;
  border-color: #4b1b1b !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4b1b1b !important;
  border-color: #4b1b1b !important;
}
.btn-info,
.btn-info:active {
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #191919 !important;
  border-color: #191919 !important;
}
.btn-success,
.btn-success:active {
  background-color: #adadad !important;
  border-color: #adadad !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #878787 !important;
  border-color: #878787 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #878787 !important;
  border-color: #878787 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #eeeeee !important;
  border-color: #eeeeee !important;
  color: #6f6f6f !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #6f6f6f !important;
  background-color: #c8c8c8 !important;
  border-color: #c8c8c8 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6f6f6f !important;
  background-color: #c8c8c8 !important;
  border-color: #c8c8c8 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #381515;
  color: #381515;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #833030;
  border-color: #833030;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #833030 !important;
  border-color: #833030 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #381515;
  color: #381515;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #833030;
  border-color: #833030;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #833030 !important;
  border-color: #833030 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #0c0c0c;
  color: #0c0c0c;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #3f3f3f;
  border-color: #3f3f3f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #3f3f3f !important;
  border-color: #3f3f3f !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #7a7a7a;
  color: #7a7a7a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #adadad;
  border-color: #adadad;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #adadad !important;
  border-color: #adadad !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #bbbbbb;
  color: #bbbbbb;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #6f6f6f;
  background-color: #eeeeee;
  border-color: #eeeeee;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6f6f6f !important;
  background-color: #eeeeee !important;
  border-color: #eeeeee !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #833030 !important;
}
.text-secondary {
  color: #833030 !important;
}
.text-success {
  color: #adadad !important;
}
.text-info {
  color: #3f3f3f !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #eeeeee !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #381515 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #381515 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #7a7a7a !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #0c0c0c !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bbbbbb !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #3f3f3f;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #eeeeee;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #833030;
  border-color: #833030;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #833030;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c86a6a;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ededed;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b2b2b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #833030;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #833030;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #833030;
  border-bottom-color: #833030;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #833030 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #833030 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23833030' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sxuCSEWR6u {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 0px;
}
.cid-sxuCSEWR6u .image-block {
  margin: auto;
}
.cid-sxuCSEWR6u .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sxuCSEWR6u .image-block {
    width: 100% !important;
  }
}
.cid-sxuCcmTvq8 {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #fbfbfb;
}
.cid-sxuCcmTvq8 h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-sxuCcmTvq8 h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-sxuCcmTvq8 h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-sxuCcmTvq8 .mbr-text,
.cid-sxuCcmTvq8 .mbr-section-btn {
  color: #767676;
}
@media (max-width: 768px) {
  .cid-sxuCcmTvq8 h3:before,
  .cid-sxuCcmTvq8 h3:after {
    display: none;
  }
}
.cid-sxuCcmTvq8 H3 {
  color: #7f1933;
}
.cid-rymy7KcyeA {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rymy7KcyeA h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rymy7KcyeA h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rymy7KcyeA h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rymy7KcyeA .mbr-text,
.cid-rymy7KcyeA .mbr-section-btn {
  color: #767676;
}
.cid-rymy7KcyeA H3 {
  color: #7f1933;
}
.cid-sxuC6JJ3jo {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sxuC6JJ3jo .mbr-text {
    text-align: center;
  }
}
.cid-sxuC6JJ3jo .container-fluid {
  padding: 0;
}
.cid-sxuC6JJ3jo .media-content {
  max-width: 580px;
  margin: auto;
  padding: 1rem;
}
.cid-sxuC6JJ3jo img {
  height: 100%;
  object-fit: cover;
}
.cid-sxuC6JJ3jo .mbr-figure {
  height: 100%;
}
.cid-sxuC6JJ3jo .col-lg-6 {
  padding: 0;
}
.cid-sxuC6JJ3jo .row {
  margin: 0;
}
.cid-sxuC6JJ3jo H1 {
  color: #833030;
  text-align: center;
}
.cid-sxuC6JJ3jo H3 {
  color: #3f3f3f;
  text-align: center;
}
.cid-sxuC6JJ3jo .mbr-text,
.cid-sxuC6JJ3jo .mbr-section-btn {
  text-align: center;
}
.cid-sxuP3JiGjF {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #fbfbfb;
}
.cid-sxuP3JiGjF h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-sxuP3JiGjF h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-sxuP3JiGjF h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-sxuP3JiGjF .mbr-text,
.cid-sxuP3JiGjF .mbr-section-btn {
  color: #767676;
}
.cid-sxuP3JiGjF H3 {
  color: #7f1933;
}
.cid-sxuIK4vgAf {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fbfbfb;
}
.cid-sxuIK4vgAf .card {
  display: block;
  position: relative;
}
.cid-sxuIK4vgAf .card .card-wrapper {
  background: #fbfbfb;
  height: 1%;
}
.cid-sxuIK4vgAf .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-sxuIK4vgAf .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-sxuIK4vgAf .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #66458e;
}
.cid-sxuIK4vgAf .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-sxuIK4vgAf .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-sxuIK4vgAf .mbr-card-text {
  color: #ffffff;
  margin: 0;
}
.cid-sxuIK4vgAf .mbr-card-text,
.cid-sxuIK4vgAf .mbr-section-btn {
  color: #232323;
}
.cid-sxuIK4vgAf .mbr-title {
  text-align: center;
}
.cid-rymy60wJRL {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rymy60wJRL h3 {
  width: fit-content;
  position: relative;
  margin: auto;
  margin-bottom: 1.4rem;
  letter-spacing: 6px;
}
.cid-rymy60wJRL h3:before {
  position: absolute;
  content: '';
  left: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rymy60wJRL h3:after {
  position: absolute;
  content: '';
  right: -60px;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 40px;
  height: 1px;
  background: currentColor;
}
.cid-rymy60wJRL .mbr-text,
.cid-rymy60wJRL .mbr-section-btn {
  color: #767676;
}
.cid-rymy60wJRL H3 {
  color: #833030;
}
.cid-sxv8yhH2Do {
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
.cid-sxv8yhH2Do .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sxv8yhH2Do .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxv8yhH2Do .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sxv8yhH2Do .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sxv8yhH2Do .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #833030;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #833030, #833030);
}
.cid-sxv8yhH2Do .icon-focus {
  display: none;
}
.cid-sxv8yhH2Do .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-sxv8yhH2Do ul {
  font-size: 0;
}
.cid-sxv8yhH2Do .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-sxv8yhH2Do .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-sxv8yhH2Do .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #833030, #833030);
}
.cid-sxv8yhH2Do .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-sxv8yhH2Do .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-sxv8yhH2Do .mbr-gallery-item > div:hover:before {
  opacity: 0.6 !important;
}
.cid-sxv8yhH2Do .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-sxv8yhH2Do .btn:hover {
  background: transparent !important;
}
.cid-sxv8yhH2Do .btn:hover:before {
  background: transparent !important;
}
.cid-sxv8yhH2Do .btn:before {
  background-color: transparent !important;
}
.cid-sxv8yhH2Do .btn:focus {
  box-shadow: none;
}
.cid-sxv8yhH2Do .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-sxv8yhH2Do .mbr-gallery-item > div > span {
  text-align: center;
  color: #ffffff;
}
.cid-sxveREiRfu {
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
.cid-sxveREiRfu .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sxveREiRfu .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxveREiRfu .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sxveREiRfu .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sxveREiRfu .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #833030;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #833030, #833030);
}
.cid-sxveREiRfu .icon-focus {
  display: none;
}
.cid-sxveREiRfu .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-sxveREiRfu ul {
  font-size: 0;
}
.cid-sxveREiRfu .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-sxveREiRfu .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-sxveREiRfu .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #833030, #833030);
}
.cid-sxveREiRfu .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-sxveREiRfu .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-sxveREiRfu .mbr-gallery-item > div:hover:before {
  opacity: 0.6 !important;
}
.cid-sxveREiRfu .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-sxveREiRfu .btn:hover {
  background: transparent !important;
}
.cid-sxveREiRfu .btn:hover:before {
  background: transparent !important;
}
.cid-sxveREiRfu .btn:before {
  background-color: transparent !important;
}
.cid-sxveREiRfu .btn:focus {
  box-shadow: none;
}
.cid-sxveREiRfu .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-sxveREiRfu .mbr-gallery-item > div > span {
  text-align: center;
  color: #ffffff;
}
.cid-sxvoLetdUa {
  padding-top: 0px;
  padding-bottom: 90px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
.cid-sxvoLetdUa .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sxvoLetdUa .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sxvoLetdUa .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-sxvoLetdUa .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sxvoLetdUa .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #833030;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #833030, #833030);
}
.cid-sxvoLetdUa .icon-focus {
  display: none;
}
.cid-sxvoLetdUa .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-sxvoLetdUa ul {
  font-size: 0;
}
.cid-sxvoLetdUa .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0!important;
  transition: padding, border 0s, transform .2s;
}
.cid-sxvoLetdUa .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-sxvoLetdUa .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #833030, #833030);
}
.cid-sxvoLetdUa .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-sxvoLetdUa .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-sxvoLetdUa .mbr-gallery-item > div:hover:before {
  opacity: 0.6 !important;
}
.cid-sxvoLetdUa .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-sxvoLetdUa .btn:hover {
  background: transparent !important;
}
.cid-sxvoLetdUa .btn:hover:before {
  background: transparent !important;
}
.cid-sxvoLetdUa .btn:before {
  background-color: transparent !important;
}
.cid-sxvoLetdUa .btn:focus {
  box-shadow: none;
}
.cid-sxvoLetdUa .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-sxvoLetdUa .mbr-gallery-item > div > span {
  text-align: center;
  color: #ffffff;
}
.cid-sxuZmDXPiZ {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-sxuZmDXPiZ .image-block {
  margin: auto;
}
.cid-sxuZmDXPiZ .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sxuZmDXPiZ .image-block {
    width: 100% !important;
  }
}
.cid-rymy9wusLz {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
