@font-face {
   font-family: 'TrajanPro-Regular';
   font-display: swap;
   src: url('file:///Users/silviadominguez/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-05-14_120315/fonts/TrajanPro-Regular/font.ttf');
}
