@font-face {
   font-family: 'Trajan Pro';
   font-display: swap;
   src: url('Trajan Pro/font.ttf');
}
@font-face {
   font-family: 'TrajanPro-Regular';
   font-display: swap;
   src: url('TrajanPro-Regular/font.ttf');
}
